* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 80px;

   
    background: linear-gradient( #e388c9 , #f17070 );

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}


.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
}

/* Circle Image Style */
#taj {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    margin-left: 40px;
}

.nav a:hover {
    color: orange;
    transition: 0.3s;
}

.first{
    height: 80px;
    font-size: 50px;
    text-align: center;
 background-color: rgb(138, 165, 240);
}

.places {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.place-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 0.3s;
}

.place-card:hover {
  transform: scale(1.05);
}

.place-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.place-card h3 {
  margin: 10px;
  color: #ff5733;
}

.place-card p {
  margin: 10px;
  font-size: 0.9rem;
}

.footer { 
    height: 50px;
    text-align: center;
    background-color:rgb(125, 125, 198);
   } 